In [1]:
%matplotlib inline

import pandas as pd;
import numpy as np;
import matplotlib.pyplot as pyplot;

In [2]:
data=pd.read_excel("NUMBER_OF_FOREIGN_TOURISTS_TO_INDIA.xls", sheet_name="Foreign Tourists To India");

In [3]:
data.fillna(0)

,Nationality,Region,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,Total
0,Canada,NORTH AMERICA,88600.0,93598.0,107671.0,135884.0,157643.0,176567.0,208214.0,222364.0,224069.0,242372.0,1656982
1,U.S.A.,NORTH AMERICA,329147.0,348182.0,410803.0,526120.0,611165.0,696739.0,799062.0,804933.0,827140.0,931292.0,6284583
2,Others,NORTH AMERICA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Total,NORTH AMERICA,417747.0,441780.0,518474.0,662004.0,768808.0,873306.0,1007276.0,1027297.0,1051209.0,1173664.0,7941565
4,Argentina,CENTRAL AND SOUTH AMERICA,2906.0,1359.0,1805.0,2799.0,3313.0,4493.0,4992.0,5087.0,6011.0,7626.0,40391
5,Brazil,CENTRAL AND SOUTH AMERICA,3819.0,3622.0,4528.0,7397.0,7005.0,9148.0,10788.0,11530.0,13964.0,15219.0,87020
6,Mexico,CENTRAL AND SOUTH AMERICA,3473.0,3105.0,3563.0,4570.0,5398.0,6502.0,8299.0,9272.0,8185.0,10458.0,62825
7,Others,CENTRAL AND SOUTH AMERICA,11727.0,9586.0,11758.0,13399.0,19870.0,18602.0,18240.0,17616.0,18444.0,29425.0,168667
8,Total,CENTRAL AND SOUTH AMERICA,21925.0,17672.0,21654.0,28165.0,35586.0,38745.0,42319.0,43505.0,46604.0,62728.0,358903
9,Austria,WESTERN EUROPE,17787.0,13801.0,16903.0,21093.0,27187.0,28045.0,26692.0,25900.0,27930.0,32620.0,237958
10,Belgium,WESTERN EUROPE,18851.0,13945.0,17309.0,24007.0,25596.0,29156.0,34207.0,36277.0,34759.0,37709.0,271816
11,Denmark,WESTERN EUROPE,14531.0,10230.0,11327.0,15805.0,20170.0,21592.0,28347.0,34253.0,30857.0,35541.0,222653
12,Finland,WESTERN EUROPE,8186.0,7673.0,8001.0,12525.0,16258.0,22860.0,34364.0,29223.0,24874.0,24089.0,188053
13,France,WESTERN EUROPE,102434.0,78194.0,97654.0,131824.0,152258.0,175345.0,204827.0,207802.0,196462.0,225232.0,1572032
14,Germany,WESTERN EUROPE,80011.0,64891.0,76868.0,116679.0,120243.0,156808.0,184195.0,204344.0,191616.0,227720.0,1423375
15,Greece,WESTERN EUROPE,3996.0,3207.0,3455.0,4468.0,4793.0,5146.0,6455.0,6672.0,6664.0,7441.0,52297
16,Ireland,WESTERN EUROPE,6136.0,5793.0,7083.0,8996.0,10052.0,14936.0,18376.0,18924.0,19223.0,20329.0,129848
17,Italy,WESTERN EUROPE,41351.0,37136.0,46908.0,65561.0,67642.0,79978.0,93540.0,85766.0,77873.0,94100.0,689855
18,Netherland,WESTERN EUROPE,42368.0,31669.0,40565.0,51211.0,52755.0,58611.0,67429.0,71605.0,64580.0,70756.0,551549
19,Norway,WESTERN EUROPE,7667.0,7475.0,8400.0,10631.0,11194.0,14216.0,19484.0,22369.0,22092.0,22229.0,145757
20,Portugal,WESTERN EUROPE,7028.0,7262.0,8158.0,10648.0,11457.0,13108.0,15756.0,15415.0,17184.0,21038.0,127054
21,Spain,WESTERN EUROPE,23073.0,19567.0,30551.0,42895.0,45247.0,53520.0,63357.0,62535.0,59047.0,72591.0,472383
22,Sweden,WESTERN EUROPE,14446.0,15330.0,18098.0,26154.0,28799.0,36013.0,47090.0,58961.0,43327.0,45028.0,333246
23,Switzerland,WESTERN EUROPE,25308.0,21606.0,24463.0,28260.0,34311.0,37446.0,41172.0,42107.0,38290.0,43134.0,336097
24,U.K.,WESTERN EUROPE,405472.0,387846.0,430917.0,555907.0,651083.0,734240.0,796191.0,776530.0,769251.0,759494.0,6266931
25,Others,WESTERN EUROPE,1328.0,1158.0,1306.0,1633.0,3074.0,6251.0,4601.0,10842.0,10013.0,11291.0,51497
26,Total,WESTERN EUROPE,819973.0,726783.0,847966.0,1128297.0,1282119.0,1487271.0,1686083.0,1709525.0,1634042.0,1750342.0,13072401
27,Czechoslovakia,EASTERN EUROPE,3197.0,2561.0,3466.0,4114.0,4783.0,5760.0,7764.0,8549.0,8328.0,9918.0,58440
28,Hungary,EASTERN EUROPE,1939.0,1557.0,1997.0,3527.0,3704.0,4262.0,5073.0,5263.0,4980.0,6022.0,38324
29,Poland,EASTERN EUROPE,5181.0,4468.0,6336.0,8445.0,10983.0,14808.0,20166.0,23517.0,19656.0,25424.0,138984
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Iran,SOUTH ASIA,11728.0,11815.0,17539.0,24733.0,28691.0,29771.0,33223.0,30149.0,34652.0,49265.0,271566
60,Maldives,SOUTH ASIA,17564.0,18826.0,18345.0,21099.0,33915.0,37652.0,45787.0,54956.0,55159.0,58152.0,361455
61,Nepal,SOUTH ASIA,41135.0,43056.0,42771.0,51534.0,77024.0,91552.0,83037.0,78133.0,88785.0,104374.0,701401
62,Pakistan,SOUTH ASIA,52762.0,2946.0,10364.0,67416.0,88609.0,83426.0,106283.0,85529.0,53137.0,51739.0,602211
63,Bangladesh,SOUTH ASIA,431312.0,435867.0,454611.0,477446.0,456371.0,484401.0,480240.0,541884.0,468899.0,431962.0,4662993
64,Sri Lanka,SOUTH ASIA,112813.0,108008.0,109098.0,128711.0,136400.0,154813.0,204084.0,218805.0,239995.0,266515.0,1679242
65,Bhutan,SOUTH ASIA,3571.0,4123.0,4082.0,7054.0,6934.0,8502.0,6729.0,9952.0,10328.0,12048.0,73323
66,Total,SOUTH ASIA,672133.0,630653.0,666889.0,790698.0,841969.0,908916.0,982428.0,1051846.0,1001401.0,1047444.0,8594377
67,Indonesia,SOUTH EAST ASIA,7767.0,8694.0,9078.0,11408.0,12640.0,16990.0,17818.0,19609.0,20068.0,26171.0,150243
68,Malayasia,SOUTH EAST ASIA,57869.0,63748.0,70750.0,84390.0,96276.0,107286.0,112741.0,115794.0,135343.0,179077.0,1023274
69,Maynnar,SOUTH EAST ASIA,3417.0,3037.0,3609.0,4932.0,5652.0,7734.0,7977.0,12147.0,12849.0,14719.0,76073
70,Philippines,SOUTH EAST ASIA,7199.0,7647.0,8091.0,10492.0,11422.0,15644.0,15567.0,17222.0,21987.0,24534.0,139805
71,Singapore,SOUTH EAST ASIA,42824.0,44306.0,48368.0,60710.0,68666.0,82574.0,92908.0,97851.0,95328.0,107487.0,741022
72,Thailand,SOUTH EAST ASIA,18623.0,19649.0,25754.0,33442.0,41978.0,46623.0,50037.0,58065.0,67309.0,76617.0,438097
73,Others,SOUTH EAST ASIA,2276.0,2210.0,3276.0,3736.0,4774.0,4875.0,6427.0,12237.0,7307.0,10438.0,57556
74,Total,SOUTH EAST ASIA,139975.0,149291.0,168926.0,209110.0,241408.0,281726.0,303475.0,332925.0,360191.0,439043.0,2626070
75,China,EAST ASIA,18657.0,23207.0,33837.0,52279.0,63791.0,88833.0,118127.0,127032.0,123673.0,143445.0,792881
76,Hong Kong,EAST ASIA,918.0,581.0,1070.0,1965.0,1908.0,1466.0,914.0,519.0,1396.0,1507.0,12244
77,Japan,EAST ASIA,80634.0,59709.0,77996.0,96851.0,103082.0,119292.0,145538.0,145352.0,124756.0,168019.0,1121229
78,Korea,EAST ASIA,29685.0,31552.0,36982.0,49314.0,53585.0,71920.0,85292.0,79824.0,70489.0,95612.0,604255
79,Others,EAST ASIA,570.0,375.0,621.0,1218.0,1201.0,1474.0,2166.0,2503.0,2483.0,3364.0,15975
80,Total,EAST ASIA,130464.0,115424.0,150506.0,201627.0,223567.0,282985.0,352037.0,355230.0,322797.0,411947.0,2546584
81,Australia,AUSTRALASIA,52691.0,50743.0,58730.0,81608.0,96258.0,109867.0,135925.0,146209.0,149074.0,169647.0,1050752
82,New Zealand,AUSTRALASIA,11700.0,10811.0,13283.0,16762.0,20463.0,23493.0,27498.0,29261.0,30876.0,37024.0,221171
83,Fiji,AUSTRALASIA,1422.0,1499.0,1519.0,2003.0,2326.0,2412.0,2635.0,2129.0,2031.0,2508.0,20484
84,Others,AUSTRALASIA,291.0,208.0,317.0,571.0,731.0,1664.0,1005.0,709.0,470.0,1096.0,7062
85,Total,AUSTRALASIA,66104.0,63261.0,73849.0,100944.0,119778.0,137436.0,167063.0,178308.0,182451.0,210275.0,1299469
86,STATELESS,STATELESS,9393.0,13487.0,15516.0,1434.0,13490.0,647.0,26237.0,1025.0,624.0,670.0,82523
87,Others,Others,33319.0,9366.0,10232.0,13692.0,21818.0,25320.0,32676.0,34540.0,15588.0,12087.0,208638
88,GRAND TOTAL,0,2537282.0,2384364.0,2726213.0,3456698.0,3918610.0,4447167.0,5081504.0,5282603.0,5167699.0,5775692.0,40777832

In [14]:
#number of tourists to India in each year
print(data.iloc[:87,2:].sum());

2001      4998533.0
2002      4736511.0
2003      5416446.0
2004      6885207.0
2005      7780059.0
2006      8841929.0
2007     10069373.0
2008     10492268.0
2009     10300506.0
2010     11522969.0
Total    81043801.0
dtype: float64

In [24]:
Nationality_Tourists_desc=data[data['Nationality']!="Total"].sort_values(by='Total', ascending=False);
print(Nationality_Tourists_desc['Nationality'].head(11));

88    GRAND TOTAL
1          U.S.A.
24           U.K.
63     Bangladesh
64      Sri Lanka
0          Canada
13         France
14        Germany
77          Japan
81      Australia
68      Malayasia
Name: Nationality, dtype: object

In [26]:
Nationality_Tourists_desc_2001=data[data['Nationality']!="Total"].sort_values(by="2001", ascending=False);
print(Nationality_Tourists_desc_2001['Nationality'].head(11));

KeyError: '2001'

In [27]:
Nationality_Tourists_desc_2010=data[data['Nationality']!="Total"].sort_values(by='2010', ascending=False);
print(Nationality_Tourists_desc_2010['Nationality'].head(11));

KeyError: '2010'